@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlPostBen = '@Url.Action("Inserir", "Beneficiario", new {area = ""})';
        var urlPostEditBen = '@Url.Action("Editar", "Beneficiario", new {area = ""})';
        var urlPostDelBen = '@Url.Action("Exluir", "Beneficiario", new {area = ""})';
        var urlGetBen = '@Url.Action("Listar", "Beneficiario")';
    </script>
    @Scripts.Render("~/bundles/altClientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")